// Colores
$white: #FFFFFF;
$green: #7CEA9C;
$blue: #2D3047;
$blackblack: #071013;


// Tipografias
$lato: 'Lato', sans-serif;

//Peso de Fuente
$Light: 300;
$Regular: 400;
$Bold: 700;
$Black: 900;


// Tamaño de Fuente
$xx-large: 70px;
$x-large: 50px;
$large: 30px;
$medium: 18px;
